
.vs/ProjectEvaluation/taximanager.metadata.v6.1
.vs/ProjectEvaluation/taximanager.projects.v6.1
.vs/TaxiManager/v17/.futdcache.v2
.vs/TaxiManager/v17/.suo
.vs/TaxiManager/v17/.futdcache.v2
.vs/TaxiManager/v17/.suo
.vs/TaxiManager/v17/.futdcache.v2
.vs/TaxiManager/v17/.suo
