@using TaxiManager.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>

    @if (this.User.Claims.Where(x => x.Type.Contains("role")).FirstOrDefault() != null)
    {
        <h3>Role: @this.User.Claims.Where(x => x.Type.Contains("role")).FirstOrDefault().Value</h3>
    }
    else if(this.User.Identity.IsAuthenticated)
    {
        <h3>Role: User</h3>        
    }
</div>
