@{
    this.ViewData["Title"] = "New Order";
}
@model TaxiManager.Web.ViewModels.Orders.OrderAddViewModel;
<title>Display navigation directions</title>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.css" type="text/css">




<h2 class="mb-3">First select your Location and Destination. After that click "Set Data"!</h2>

<div class="row">
    <div class="col-sm">
        <div id="map" style='width: 800px; height: 700px;'></div>
    </div>
    <div class="col-sm">
        <form method="post" enctype="multipart/form-data">

        <div class="row">
            <div class="col-sm text-sm-center">
                <button id="calc" class="mt-3">Set Data</button>
            </div>
            <div class="col-sm text-sm-center">
                <button type="submit" class="mt-3">Send Order</button>
            </div>
        </div>

            <div class="mt-3">
                <div>
                    <label asp-for="Location"></label>
                    <input asp-for="Location" id="LocationInput" disabled="disabled" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>

                <div class="mt-2">
                    <label asp-for="Destination"></label>
                    <input asp-for="Destination" id="DestinationInput" disabled="disabled" class="form-control" />
                    <span asp-validation-for="Destination" class="text-danger"></span>
                </div>

                <div class="mt-2">
                    <label asp-for="Kilometers"></label>
                    <input asp-for="Kilometers" id="KmInput" disabled="disabled" class="form-control" />
                    <span asp-validation-for="Kilometers" class="text-danger"></span>
                </div>

                <div class="mt-2">
                    <label asp-for="Price">Price Offer</label>
                    <input asp-for="Price" placeholder="It isn't mandatory" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

            </div>

        </form>
    </div>

</div>

<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoic2xhdm9taXJvdiIsImEiOiJjbGQ3ZjF3ZHIwMDczM3hzMGJtOXNzYjN0In0.2yvzQHLiFV8ybmTuGBiCZQ';
    const map = new mapboxgl.Map({
        container: 'map',
        // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
        style: 'mapbox://styles/mapbox/streets-v12',
        center: [25, 42],
        zoom: 13
    });

    map.addControl(
        new MapboxDirections({
            accessToken: mapboxgl.accessToken
        }),
        'top-left'
    );

    const calc = document.getElementById('calc');

    function getLocAndDist() {
        let locAndDist = document.getElementsByClassName("mapboxgl-ctrl-geocoder");
        //console.log('Location: ' + locAndDist[0].getElementsByTagName('input')[0].value);
        let location = locAndDist[0].getElementsByTagName('input')[0].value;
        //console.log('Destination: ' + locAndDist[1].getElementsByTagName('input')[0].value);
        let destination = locAndDist[1].getElementsByTagName('input')[0].value;
        let kms = ((document.getElementsByClassName("mapbox-directions-component mapbox-directions-route-summary")[0]
            .getElementsByTagName("span")[0]
            .textContent.slice(0, -2))
            * 1.609334)
            .toFixed(2);
        //console.log('Distance: ' + kms);
        document.getElementById("LocationInput").value = location;
        document.getElementById("DestinationInput").value = destination;
        document.getElementById("KmInput").value = kms;
    }

    calc.onclick = getLocAndDist;

</script>


@*
<div class="row">
    <div class="col-sm">
        <div>Click on your location</div>
        <div id="LngAndLatArea"></div>
        <div id='map' style='width: 400px; height: 300px;'></div>
    </div>
    <div class="col-sm">
        <div>Click on your destination</div>
        <div id="LngAndLatAreaDestination"></div>
        <div id='mapDestination' style='width: 400px; height: 300px;'></div>
    </div>
</div>

<!-- Load the `mapbox-gl-geocoder` plugin. -->
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoic2xhdm9taXJvdiIsImEiOiJjbGQ3ZzA4bWswNzJkM3ZubzJmcDlyN3huIn0.xnvV9y_sVPvEwSYsyuSpPw';

    //Location
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [25, 42],
        zoom: 11
    });

    var marker = new mapboxgl.Marker();

    function add_marker(event) {
        var coordinates = event.lngLat;
        insertTextData(coordinates.lng, coordinates.lat, "LngAndLatArea");
        marker.setLngLat(coordinates).addTo(map);
    }

    map.on('click', add_marker);

    //Destination
    var mapDestination = new mapboxgl.Map({
        container: 'mapDestination',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [25, 42],
        zoom: 11
    });

    var markerDestination = new mapboxgl.Marker();

    function add_marker_Destination(event) {
        var coordinates = event.lngLat;
        insertTextData(coordinates.lng, coordinates.lat, "LngAndLatAreaDestination");
        markerDestination.setLngLat(coordinates).addTo(mapDestination);
    }

    mapDestination.on('click', add_marker_Destination);

    function insertTextData(lng, lat, area)
    {
        var textNodeTXT = 'Lng: ' + lng.toFixed(5) + ' Lat: ' + lat.toFixed(5);
        var lngAndLatArea = document.getElementById(area);
        lngAndLatArea.textContent = textNodeTXT;
    }
</script>
*@